:root {
    --bg: #181823;
    --primary: #537FE7;
    --secondary: #C0EEF2;
    --white: #E9F8F9;
    --input_bg: #292933;
    --input_placeholder: #B5B2B2
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #E9F8F9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #537FE7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
